<div>
    <p>
        <center>
            <img src="/images/dinosaur.gif">
        </center>
    </p>
    <p>
        <center>
            <h2>Oh no! Parece que não encontramos o
                <br />produto ou a página que está buscando.</h2>
            <h4>Mas não se preocupe, você ainda pode:</h4>
        </center>
    </p>
    <p>
        <center>
            <a href="/" class="btn btn-sm btn-primary">Voltar ao início</a>
            <a href="/produtos" class="btn btn-sm btn-success">Listar todos os produtos</a>
            <a href="https://procatinator.com/" target="_blank" class="btn btn-sm btn-danger">Procrastinar</a>
        </center>
    </p>
</div>