<div class="jumbotron text-center">
    <h1>
        <%= cadastro.firstname %> <%= cadastro.lastname %> 
    </h1>
    <p>
        <h2>
            <%= cadastro.email %> - <%= cadastro.password %>
        </h2>
    </p>
    <p>
        <a href="/" class="btn btn-lg btn-warning">Início</a>
        <a href="/cadastros/criar" class="btn btn-lg btn-success">Criar cadastro</a>
    </p>
</div>