<div class="jumbotron text-center">
    <h1>Categorias</h1>
    <a href="/" class="btn btn-lg btn-warning">Início</a>
    <a href="/categorias/inutilidades" class="btn btn-lg btn-info">Inutilidades</a>
    <a href="/categorias/bugigangas" class="btn btn-lg btn-info">Bugigangas</a>
    <a href="/categorias/outros" class="btn btn-lg btn-info">Outros</a>
</div>