<div class="jumbotron text-center">
    <p>
        <h1>Light Lawliet</h1>
        <h3>A melhor lojinha online do bairro</h3>
    </p>
    <p>______________________</p>
    <p>
        <h2>Produtos</h2>
        <a href="/categorias" class="btn btn-lg btn-secondary">Categorias</a>
        <a href="/produtos" class="btn btn-lg btn-primary">Produtos</a>
        <a href="/produtos/criar" class="btn btn-lg btn-success">Criar</a>
        <a href="https://procatinator.com/" target="_blank" class="btn btn-lg btn-info">Cupom de desconto</a>
    </p>
    <p>______________________</p>
    <p>
        <h2>Cadastros</h2>
        <a href="/cadastros" class="btn btn-lg btn-primary">Cadastros</a>
        <a href="/cadastros/criar" class="btn btn-lg btn-success">Criar</a>
        <a href="https://procatinator.com/" target="_blank" class="btn btn-lg btn-danger">Acesso restrito</a>
    </p>
</div>